Repository teknologi-umum/spectator, changes with the owners that CODEOWNERS names for each.
All owners: @elianiva, @aldy505, @ronnygunawan, @artileda

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/frontend/ @elianiva 
/piston/ @aldy505
/logger/ @aldy505
/backend/ @ronnygunawan
/wranggler/ @artileda
/data/ @artileda

chore: change the last 2 questions
  frontend/src/data/en/questions.json
  frontend/src/data/id/questions.json
Owners: @elianiva

wip
  wranggler/README.md
  wranggler/file.go
  wranggler/funfact.go
Owners: @artileda

chore: add more instructions to questions
  frontend/src/data/en/questions.json
  frontend/src/data/id/questions.json
Owners: @elianiva

refactor: add react to scope
  frontend/src/components/CodingTest/SideBar/NavItem.tsx
  frontend/src/components/CodingTest/SideBar/index.tsx
Owners: @elianiva

42% DomainModels covered
  Spectator.sln
  backend/Spectator/Program.cs
  backend/tests/Spectator.DomainModels.Tests/SessionTests.cs
  backend/tests/Spectator.DomainModels.Tests/Spectator.DomainModels.Tests.csproj
Owners: @ronnygunawan

Sudahlah
  Spectator.sln
  backend/.gitignore
  backend/Spectator/Program.cs
  backend/Spectator/Properties/launchSettings.json
  backend/Spectator/Spectator.csproj
  frontend/Frontend.csproj
  frontend/Frontend.esproj
  frontend/src/components/CodingTest/Question.tsx
  frontend/src/stub/enums.ts
  frontend/src/stub/session.client.ts
  frontend/src/stub/session.ts
  frontend/src/tests/redux/questionSlice.test.ts
  frontend/src/tests/setupTestStore.ts
  frontend/vite.config.ts
Owners: @ronnygunawan, @elianiva

Nah!
  Spectator.sln
  backend/Spectator/Dockerfile
  docker-compose.yml
  frontend/Frontend.csproj
  frontend/Properties/launchSettings.json
Owners: @ronnygunawan, @elianiva

47% DomainModels covered
  backend/Spectator/Program.cs
  backend/tests/Spectator.DomainModels.Tests/SessionTests.cs
Owners: @ronnygunawan

chore: correcting struct type
  logger/handler_grpc_test.go
Owners: @aldy505

chore: function name correction
  assertion/javascript/question5.js
  assertion/javascript/question6.js
Owners: none

feat: python test assertions
  assertion/python/question1.py
  assertion/python/question2.py
  assertion/python/question3.py
  assertion/python/question4.py
  assertion/python/question5.py
  assertion/python/question6.py
Owners: none

chore: remove type annotation
  assertion/python/question5.py
Owners: none

chore: wrong answer
  assertion/javascript/question2.js
Owners: none

feat: add c assertion tests
  assertion/c/question1.c
  assertion/c/question2.c
  assertion/c/question3.c
Owners: none

chore: refactor based on feedbacks
  assertion/python/question2.py
  assertion/python/question3.py
  assertion/python/question4.py
  assertion/python/question5.py
  assertion/python/question6.py
Owners: none

chore(question): fix function signatures
  frontend/src/data/en/questions.json
  frontend/src/data/id/questions.json
Owners: @elianiva

chore: refactor assertion q2-q6
  assertion/python/question2.py
  assertion/python/question3.py
  assertion/python/question4.py
  assertion/python/question5.py
  assertion/python/question6.py
Owners: none

test: struct test
  wranggler/README.md
  wranggler/file.go
  wranggler/file_test.go
Owners: @artileda

wondering...
  wranggler/file.go
Owners: @artileda

chore(question): add some docs
  frontend/src/data/en/questions.json
  frontend/src/data/id/questions.json
Owners: @elianiva

wip: file
  wranggler/file.go
Owners: @artileda

Add question repository
  backend/Spectator.DomainModels/QuestionDomain/Question.cs
  backend/Spectator.DomainServices/MemoryCache/CacheIdentifierBuilder.cs
  backend/Spectator.DomainServices/MemoryCache/ResultCache.cs
  backend/Spectator.DomainServices/QuestionDomain/QuestionServices.cs
  backend/Spectator.DomainServices/ServiceCollectionExtensions.cs
  backend/Spectator.DomainServices/SessionDomain/SessionServices.cs
  backend/Spectator.DomainServices/Spectator.DomainServices.csproj
  backend/Spectator.Primitives/Locale.cs
  backend/Spectator.Repositories/IQuestionRepository.cs
  backend/Spectator.RepositoryDALs/Internals/QuestionRepositoryDAL.cs
  backend/Spectator.RepositoryDALs/JsonModels/Question.cs
  backend/Spectator.RepositoryDALs/JsonModels/QuestionSet.cs
  backend/Spectator.RepositoryDALs/ServiceCollectionExtensions.cs
  backend/Spectator.RepositoryDALs/Spectator.RepositoryDALs.csproj
  backend/Spectator/Hubs/SessionHub.cs
  backend/Spectator/Program.cs
  frontend/Frontend.csproj
  frontend/src/stub/session.ts
  frontend/src/tests/menu.test.tsx
  proto/Spectator.Protos/session.proto
Owners: @ronnygunawan, @elianiva

Nobody's gonna know. They're gonna know. How would they know?
  Spectator.sln
  backend/.editorconfig
Owners: @ronnygunawan

Add locale biar Jaksel
  backend/Spectator.DomainEvents/SessionDomain/LocaleSetEvent.cs
  backend/Spectator.DomainModels/SessionDomain/AnonymousSession.cs
  backend/Spectator.DomainModels/SessionDomain/RegisteredSession.cs
  backend/Spectator.DomainServices/SessionDomain/SessionServices.cs
  backend/Spectator/Hubs/SessionHub.cs
  backend/tests/Spectator.RepositoryDALs.Tests/ObjectMapperTests.cs
  frontend/src/stub/enums.ts
  frontend/src/stub/session.client.ts
  frontend/src/stub/session.ts
  proto/Spectator.Protos/HubInterfaces/ISessionHub.cs
  proto/Spectator.Protos/enums.proto
  proto/Spectator.Protos/session.proto
Owners: @ronnygunawan, @elianiva

Added more tests. Found more bugs. Discovered more of my own stupidity.
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  Spectator.sln
  backend/Spectator.RepositoryDALs/Mapper/SessionEventMapper.cs
  backend/tests/Spectator.RepositoryDALs.Tests/ObjectMapperTests.cs
Owners: @ronnygunawan

feat(assertion): add c++
  assertion/cpp/question1.cpp
  assertion/cpp/question2.cpp
  assertion/cpp/question3.cpp
  assertion/cpp/question4.cpp
  assertion/cpp/question5.cpp
  assertion/cpp/question6.cpp
Owners: none

chore(questions): adjust signature
  frontend/src/data/en/questions.json
  frontend/src/data/id/questions.json
Owners: @elianiva

fix(assertion): uncomment solution placeholder
  assertion/cpp/question2.cpp
Owners: none

Add assertion to question domain. The query is a big fat fuck.
  backend/Spectator.DomainModels/QuestionDomain/Question.cs
  backend/Spectator.DomainServices/QuestionDomain/QuestionServices.cs
  backend/Spectator.DomainServices/SessionDomain/SessionServices.cs
  backend/Spectator.DomainServices/SubmissionDomain/SubmissionServices.cs
  backend/Spectator.Repositories/IQuestionRepository.cs
  backend/Spectator.RepositoryDALs/Internals/QuestionRepositoryDAL.cs
  backend/Spectator.RepositoryDALs/Spectator.RepositoryDALs.csproj
  backend/Spectator/Hubs/SessionHub.cs
  backend/Spectator/Properties/launchSettings.json
Owners: @ronnygunawan

feat: assertion php
  assertion/php/question1.php
  assertion/php/question2.php
  assertion/php/question3.php
  assertion/php/question4.php
  assertion/php/question5.php
  assertion/php/question6.php
Owners: none

fix: wrong condition of checking strlen at question5
  assertion/php/question5.php
Owners: none

feat: upload to minio
  wranggler/file.go
Owners: @artileda

[ADD] make question1 and questionList
  assertion/java/question1.java
  assertion/java/question2.java
  assertion/java/questionList.java
Owners: none

feat: testing i18n
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/questions.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/id/questions.json
  frontend/public/locales/id/translation.json
  frontend/src/i18n.ts
  frontend/src/main.tsx
  frontend/src/pages/Instructions.tsx
  frontend/src/pages/PersonalInfo.tsx
  frontend/tsconfig.json
Owners: @elianiva

feat: store minio upload to influx
  wranggler/file.go
Owners: @artileda

feat(assertion): more c stuff
  assertion/c/question2.c
  assertion/c/question3.c
  assertion/c/question4.c
  assertion/c/question5.c
  assertion/c/question6.c
Owners: none

refactor(assertion): yeah, i mean, it works but..
  assertion/c/question6.c
Owners: none

refactor(assertion): add srand for c++
  assertion/cpp/question3.cpp
  assertion/cpp/question4.cpp
  assertion/cpp/question5.cpp
  assertion/cpp/question6.cpp
Owners: none

fix(assertion): randomise each character
  assertion/cpp/question5.cpp
Owners: none

refactor: fix
  wranggler/file_test.go
  wranggler/funfact.go
Owners: @artileda
