Repository teknologi-umum/spectator, changes with the owners that CODEOWNERS names for each.
All owners: @elianiva, @aldy505, @ronnygunawan, @artileda

fix: delete comment nganu
  dummy/generate.py
Owners: none

refactor: apply feebdack
  dummy/generate.py
Owners: none

feat: correction on calculating wpm
  wranggler/file.go
  wranggler/funfact.go
  wranggler/funfact_test.go
  wranggler/main_test.go
  wranggler/ping_test.go
Owners: @artileda

fix: solve object name in i18n.ts file
  frontend/src/components/CodingTest/Editor.tsx
  frontend/src/components/CodingTest/Menu.tsx
  frontend/src/components/CodingTest/Question.tsx
  frontend/src/components/CodingTest/Scratchpad.tsx
  frontend/src/data/en/translations.json
  frontend/src/data/id/translations.json
  frontend/src/i18n.ts
  frontend/src/pages/Instructions.tsx
  frontend/src/pages/PersonalInfo.tsx
  frontend/src/pages/SAMTest.tsx
Owners: @elianiva

fix: rename Question to question in i18n.ts
  frontend/src/components/CodingTest/Editor.tsx
  frontend/src/components/CodingTest/Question.tsx
  frontend/src/i18n.ts
Owners: @elianiva

refactor: remove type from csv
  wranggler/file.go
Owners: @artileda

test(file_test): WIP
  wranggler/file_test.go
Owners: @artileda

Integrated session events
  backend/Spectator.RepositoryDALs/InfluxDbOptions.cs
  backend/Spectator.RepositoryDALs/Internals/SessionEventRepositoryDAL.cs
  backend/Spectator.RepositoryDALs/Mapper/DomainObjectMapper.cs
  backend/Spectator.RepositoryDALs/Mapper/SessionEventMapper.cs
  backend/Spectator.RepositoryDALs/Spectator.RepositoryDALs.csproj
  backend/tests/Spectator.RepositoryDALs.Tests/ObjectMapperTests.cs
  backend/tests/Spectator.RepositoryDALs.Tests/SessionEventRepositoryDALTests.cs
  backend/tests/Spectator.RepositoryDALs.Tests/Spectator.RepositoryDALs.Tests.csproj
Owners: @ronnygunawan

test: add deletion files
  wranggler/file_test.go
  wranggler/main.go
Owners: @artileda

test: error interface wip, still looking up
  wranggler/file.go
Owners: @artileda

feat: succesfuly upload to minio
  wranggler/file.go
  wranggler/file_test.go
Owners: @artileda

feat: succesfuly upload to minio
  wranggler/file.go
  wranggler/file_test.go
Owners: @artileda

test(file_test): need help, kinda tricky testing thing run in background
  wranggler/file_test.go
Owners: @artileda

Change build configuration to Release
  .github/workflows/deploy.yml
  .github/workflows/pr_backend.yml
  Spectator.sln
Owners: none

Fix CS1024 error
  backend/tests/Spectator.Piston.Tests/PistonClientTests.cs
Owners: @ronnygunawan

feat: client stub and error handling for logging service
  wranggler/Dockerfile
  wranggler/file.go
  wranggler/file_test.go
  wranggler/funfact.go
  wranggler/logger/logger.pb.go
  wranggler/logger/logger_grpc.pb.go
  wranggler/logging.go
  wranggler/main.go
  wranggler/main_test.go
  wranggler/ping.go
  wranggler/ping_test.go
  wranggler/proto/worker.pb.go
  wranggler/worker.proto
Owners: @artileda

refactor: move query function to another file
  wranggler/file.go
  wranggler/file_query.go
  wranggler/file_test.go
Owners: @artileda

test: scaffold test for file_query
  wranggler/file_query_test.go
Owners: @artileda

refactor(influx way file query): change to not use unmarshal influx
  wranggler/README.md
  wranggler/file.go
  wranggler/file_query.go
Owners: @artileda

test(test_query): [WIP] make the test for
  wranggler/file_query.go
  wranggler/file_query_test.go
Owners: @artileda

test(file_query_test): complete some test
  wranggler/file_query_test.go
Owners: @artileda

fix: feebdack
  wranggler/README.md
  wranggler/file_query.go
  wranggler/file_query_test.go
Owners: @artileda

style: fix eslint failure on github actions
  frontend/.dockerignore
  frontend/src/components/Layout.tsx
  frontend/src/components/ThemeButton.tsx
Owners: @elianiva

style: fix eslint failure on github actions (#159)
  frontend/.dockerignore
  frontend/src/components/Layout.tsx
  frontend/src/components/ThemeButton.tsx
Owners: @elianiva

chore: minio
  docker-compose.minio.yml
Owners: none

[UPDATE] change to _REPLACE_ME_ and fit template
  assertion/java/question1.java
Owners: none

[ADD] question 2,3,4,5
  assertion/java/question2.java
  assertion/java/question3.java
  assertion/java/question4.java
  assertion/java/question5.java
Owners: none

refactor: defining bounded context for each packages
  wranggler/file.go
  wranggler/file/converter.go
  wranggler/file/converter_test.go
  wranggler/file/create_upload.go
  wranggler/file/file.go
  wranggler/file/file_query.go
  wranggler/file/file_query_test.go
  wranggler/file/file_test.go
  wranggler/file/query_keystrokes.go
  wranggler/file/query_mouseclick.go
  wranggler/file/query_mousemove.go
  wranggler/file/query_personalinfo.go
  wranggler/file/query_samtest.go
  wranggler/file_query.go
  wranggler/funfact.go
  wranggler/funfact/attempts.go
  wranggler/funfact/deletion.go
  wranggler/funfact/funfact.go
  wranggler/funfact/wpm.go
  wranggler/funfact/wpm_test.go
Owners: @artileda

chore: caddy
  data/caddy/Caddyfile
  docker-compose.caddy.yml
Owners: @artileda

refactor: communicating between packages
  wranggler/file.go
  wranggler/file/file.go
  wranggler/file/file_query_test.go
  wranggler/file/file_test.go
  wranggler/file/query_keystrokes.go
  wranggler/file/query_mouseclick.go
  wranggler/file/query_mousemove.go
  wranggler/file/query_personalinfo.go
  wranggler/file/query_samtest.go
  wranggler/funfact.go
  wranggler/funfact/funfact.go
  wranggler/logger/logger.go
  wranggler/logger_proto/logger.pb.go
  wranggler/logger_proto/logger_grpc.pb.go
  wranggler/main.go
  wranggler/main_test.go
  wranggler/ping.go
  wranggler/ping_test.go
  wranggler/worker_proto/worker.pb.go
  wranggler/worker_proto/worker_grpc.pb.go
Owners: @artileda

feat: connecting the dependencies
  wranggler/file/create_file.go
  wranggler/file/file.go
  wranggler/funfact/attempts.go
  wranggler/funfact/deletion.go
  wranggler/funfact/funfact.go
  wranggler/funfact/funfact_test.go
  wranggler/funfact/wpm_test.go
  wranggler/main.go
  wranggler/main_test.go
Owners: @artileda

chore: handle errors
  wranggler/file/converter.go
  wranggler/file/create_file.go
  wranggler/file/create_upload.go
  wranggler/file/query_keystrokes.go
  wranggler/file/query_mouseclick.go
  wranggler/file/query_mousemove.go
  wranggler/file/query_personalinfo.go
  wranggler/file/query_samtest.go
  wranggler/funfact/attempts.go
  wranggler/funfact/deletion.go
  wranggler/funfact/wpm.go
Owners: @artileda

test: add more tests
  wranggler/file/create_file.go
  wranggler/file/file_query_test.go
  wranggler/file/query_keystrokes_test.go
  wranggler/file/query_mouseclick_test.go
  wranggler/file/query_mousemove_test.go
  wranggler/file/query_personalinfo_test.go
  wranggler/file/query_samtest.go
  wranggler/file/query_samtest_test.go
  wranggler/funfact/attemps_test.go
  wranggler/funfact/deletion.go
  wranggler/funfact/deletion_test.go
Owners: @artileda

chore: gofmt
  wranggler/funfact/attemps_test.go
  wranggler/funfact/deletion_test.go
Owners: @artileda

ci: add actions for worker
  .github/workflows/pr_worker.yml
  docker-compose.dev.yml
  docker-compose.influx.yml
  docker-compose.minio.yml
  docker-compose.worker.yml
  docker-compose.yml
Owners: none

ci: fix verify conf runner to be containerized
  .github/workflows/pr_devops.yml
Owners: none

[ADD] question6
  assertion/java/question6.java
Owners: none

[UPDATE] change placeholder, issues #146
  assertion/java/question1.java
  assertion/java/question2.java
  assertion/java/question3.java
  assertion/java/question4.java
  assertion/java/question5.java
  assertion/java/question6.java
Owners: none

[UPDATE] change placeholder, issues #146
  assertion/java/question1.java
  assertion/java/question2.java
  assertion/java/question3.java
  assertion/java/question4.java
  assertion/java/question5.java
  assertion/java/question6.java
Owners: none

[UPDATE] remove additional placeholder
  assertion/java/question5.java
Owners: none

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/frontend/ @elianiva 
/piston/ @aldy505
/logger/ @aldy505
/backend/ @ronnygunawan
/wranggler/ @artileda
/data/ @artileda
