Repository teknologi-umum/spectator, changes with the owners that CODEOWNERS names for each.
All owners: @elianiva, @aldy505, @ronnygunawan, @artileda

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/frontend/ @elianiva 
/piston/ @aldy505
/logger/ @aldy505
/backend/ @ronnygunawan
/wranggler/ @artileda
/data/ @artileda

refactor(assertion): use `push_back` instead of `insert`
  assertion/cpp/question2.cpp
  assertion/cpp/question3.cpp
  assertion/cpp/question4.cpp
  assertion/cpp/question5.cpp
  assertion/cpp/question6.cpp
Owners: none

fix: question 5 kurung di line 20
  assertion/python/question5.py
Owners: none

[EDIT] remove packages
  assertion/java/question1.java
  assertion/java/question2.java
  assertion/java/questionList.java
Owners: none

Host frontend, add readme, add default env
  .gitignore
  Spectator.sln
  backend/.gitignore
  backend/README.md
  backend/Spectator.RepositoryDALs/JsonModels/Question.cs
  backend/Spectator/Program.cs
  backend/Spectator/Properties/launchSettings.json
  backend/Spectator/Spectator.csproj
  backend/Spectator/appsettings.json
  docker-compose.yml
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.tsx
Owners: @ronnygunawan, @elianiva

fix(assertion): test the proper solution from user
  assertion/c/question5.c
Owners: none

fix(assertion): double free, wrong logic
  assertion/c/question6.c
Owners: none

[add] question 3, no isian yeet
  assertion/java/question3.java
Owners: none

ci: optimize logger actions
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: none

feat: refactor and unit tests
  logger/converter.go
  logger/go.mod
  logger/go.sum
  logger/handler_grpc.go
  logger/handler_grpc_test.go
  logger/main.go
  logger/main_test.go
  logger/ping.go
  logger/ping_test.go
  logger/reader.go
  logger/reader_test.go
  logger/writer.go
  logger/writer_test.go
Owners: @aldy505

feat: translate en to id or id to en
  frontend/src/components/CodingTest/Question.tsx
  frontend/src/data/id/translations.json
  frontend/src/i18n.ts
  frontend/src/pages/CodingTest.tsx
  frontend/src/pages/Instructions.tsx
  frontend/src/pages/PersonalInfo.tsx
  frontend/src/pages/SAMTest.tsx
Owners: @elianiva

feat: translate codemirror
  frontend/src/components/CodingTest/Editor.tsx
Owners: @elianiva

test: added correct implementation and raise coverage
  logger/reader.go
  logger/reader_test.go
Owners: @aldy505

fix: abandon grouping if it is queried
  logger/converter.go
  logger/main_test.go
  logger/reader.go
  logger/reader_test.go
Owners: @aldy505

refactor(assertion): remove DEFINE
  assertion/php/question2.php
Owners: none

fix(assertion): fix function signature
  assertion/php/question2.php
Owners: none

ci: better github actions workflows
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .github/workflows/pr_backend.yml
  .github/workflows/pr_devops.yml
  .github/workflows/pr_frontend.yml
  .github/workflows/pr_logger.yml
Owners: none

ci: lessen the time needed for timeout
  .github/workflows/deploy.yml
  .github/workflows/pr_logger.yml
Owners: none

fix: avoiding depreciation notice by moving to insecure.NewCredentials()
  logger/ping_test.go
  logger/reader.go
  logger/reader_test.go
  logger/writer_test.go
Owners: @aldy505

feat: change the logger proto file to match with the influx behavior
  logger/converter.go
  logger/logger.proto
  logger/proto/logger.pb.go
  logger/reader_test.go
  logger/writer.go
  logger/writer_test.go
Owners: @aldy505

Add code assertion tests (WIP)
  Spectator.sln
  assertion/cpp/question1.cpp
  assertion/cpp/question2.cpp
  assertion/cpp/question3.cpp
  assertion/cpp/question4.cpp
  assertion/cpp/question5.cpp
  assertion/cpp/question6.cpp
  backend/Spectator.DomainModels/SessionDomain/RegisteredSession.cs
  backend/Spectator.DomainModels/SubmissionDomain/CompileErrorResult.cs
  backend/Spectator.DomainModels/SubmissionDomain/FailingTestResult.cs
  backend/Spectator.DomainModels/SubmissionDomain/PassingTestResult.cs
  backend/Spectator.DomainModels/SubmissionDomain/Submission.cs
  backend/Spectator.DomainModels/SubmissionDomain/TestResultBase.cs
  backend/Spectator.DomainServices/SessionDomain/SessionServices.cs
  backend/Spectator.DomainServices/SubmissionDomain/SubmissionServices.cs
  backend/Spectator.Piston/Internals/ResultParser.cs
  backend/Spectator.Piston/PistonClient.cs
  backend/Spectator.Piston/PistonOptions.cs
  backend/Spectator.Piston/Properties/AssemblyInfo.cs
  backend/Spectator.Piston/Spectator.Piston.csproj
  backend/Spectator.RepositoryDALs/Internals/QuestionRepositoryDAL.cs
  backend/Spectator/Hubs/SessionHub.cs
  backend/Spectator/Program.cs
  backend/tests/Spectator.DomainServices.Tests/Properties/launchSettings.json
  backend/tests/Spectator.DomainServices.Tests/Spectator.DomainServices.Tests.csproj
  backend/tests/Spectator.DomainServices.Tests/SubmissionServicesTests.cs
  backend/tests/Spectator.Piston.Tests/PistonClientTests.cs
  backend/tests/Spectator.Piston.Tests/Properties/launchSettings.json
  backend/tests/Spectator.Piston.Tests/ResultParserTests.cs
  backend/tests/Spectator.Piston.Tests/Spectator.Piston.Tests.csproj
  proto/Spectator.Protos/session.proto
Owners: @ronnygunawan

Rebuild stub
  frontend/src/stub/session.ts
Owners: @elianiva

🎉🎉 Piston integration: DONE!! 🎉🎉
  backend/Spectator.DomainModels/SubmissionDomain/RuntimeErrorResult.cs
  backend/Spectator.DomainServices/SessionDomain/SessionServices.cs
  backend/Spectator.DomainServices/SubmissionDomain/SubmissionServices.cs
  backend/Spectator.Piston/Internals/ResultParser.cs
  backend/Spectator.Piston/Models/ConsoleOutput.cs
  backend/Spectator.Piston/Models/ExecuteResult.cs
  backend/Spectator.Piston/PistonClient.cs
  backend/Spectator/Hubs/SessionHub.cs
  backend/tests/Spectator.DomainServices.Tests/SubmissionServicesTests.cs
  backend/tests/Spectator.Piston.Tests/PistonClientTests.cs
  frontend/src/stub/session.ts
  proto/Spectator.Protos/session.proto
Owners: @ronnygunawan, @elianiva

Make piston tests run slower to avoid HTTP 429
  backend/tests/Spectator.DomainServices.Tests/SubmissionServicesTests.cs
  backend/tests/Spectator.Piston.Tests/PistonClientTests.cs
Owners: @ronnygunawan

Fuk dis 💩 Github CI now doesn't execute piston tests
  backend/tests/Spectator.DomainServices.Tests/SubmissionServicesTests.cs
  backend/tests/Spectator.Piston.Tests/PistonClientTests.cs
Owners: @ronnygunawan

feat: solved the bug when translating
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CodingTest/Editor.tsx
  frontend/src/components/CodingTest/Menu.tsx
  frontend/src/components/CodingTest/Question.tsx
  frontend/src/components/ThemeButton.tsx
  frontend/src/i18n.ts
  frontend/src/main.tsx
  frontend/src/pages/CodingTest.tsx
  frontend/src/pages/Instructions.tsx
  frontend/src/pages/PersonalInfo.tsx
  frontend/src/pages/SAMTest.tsx
Owners: @elianiva

feat: solve question index
  frontend/src/components/CodingTest/Editor.tsx
  frontend/src/components/CodingTest/Question.tsx
Owners: @elianiva

feat: ITS WORKINGgit add .! ITS WORKINGgit add .git add .
  logger/converter.go
  logger/main.go
  logger/main_test.go
  logger/reader.go
  logger/reader_test.go
  logger/writer.go
Owners: @aldy505

ci: fix up for influxdb
  .github/workflows/pr_logger.yml
Owners: none

chore: this file shouldnt be here
  .github/workflows/pr.yml
Owners: none

test: query assurance
  logger/reader_test.go
Owners: @aldy505

ci: fix containerization problem
  .github/workflows/deploy.yml
  .github/workflows/pr_logger.yml
Owners: none

fix: solve import path in i18n.ts file
  frontend/src/i18n.ts
Owners: @elianiva

checkpoint: no feature just backup
  .gitignore
  wranggler/funfact.go
  wranggler/main.go
Owners: @artileda

checkpoint: no feature just backup
  wranggler/file.go
  wranggler/funfact.go
  wranggler/main.go
Owners: @artileda

fix: csv
  .gitignore
  wranggler/file.go
  wranggler/go.mod
  wranggler/go.sum
Owners: @artileda

confusion: the algoritme works but no data ,need data brrrr
  wranggler/funfact.go
Owners: @artileda

feat: reinaldy's sama quest (1/?)
  .gitignore
  dummy/generate.py
Owners: none

quest: increase duplicate entropies
  dummy/generate.py
Owners: none

quest: decrease time
  dummy/generate.py
Owners: none

quest: decrease time
  dummy/generate.py
Owners: none
