Repository teknologi-umum/spectator, changes with the owners that CODEOWNERS names for each.
All owners: @elianiva, @aldy505, @ronnygunawan, @artileda

[UPDATE] fix some more typo
  assertion/java/question2.java
  assertion/java/question3.java
  assertion/java/question4.java
  assertion/java/question6.java
Owners: none

docs: done todo and docs i think
  wranggler/README.md
  wranggler/file/converter.go
  wranggler/file/create_file.go
  wranggler/file/file.go
Owners: @artileda

fix: #165 #157 and the TODOS
  worker/main.go
Owners: none

fix: add error handling on make bucket
  worker/main.go
Owners: none

refactor: rework some of the errors and concurrency stuffs
  worker/file/converter.go
  worker/file/converter_test.go
  worker/file/create_file.go
  worker/file/file_test.go
  worker/file/query_keystrokes_test.go
  worker/file/query_mouseclick_test.go
  worker/file/query_mousemove_test.go
  worker/file/query_personalinfo_test.go
  worker/file/query_samtest_test.go
  worker/funfact/attemps_test.go
  worker/funfact/deletion_test.go
  worker/funfact/wpm_test.go
  worker/main.go
  worker/main_test.go
Owners: none

feat: setup one more service
  worker/file/create_file.go
  worker/file/file_list.go
  worker/list.go
  worker/worker.proto
  worker/worker_proto/worker.pb.go
  worker/worker_proto/worker_grpc.pb.go
Owners: none

feat: downloaded file, no test run yet maybe at sat
  worker/file/create_file.go
  worker/file/file_list.go
  worker/file/query_personalinfo.go
  worker/file/query_personalinfo_test.go
  worker/list.go
  worker/main.go
Owners: none

test: file_list_tset
  worker/file/file_list_test.go
Owners: none

[UPDATE] use type inference
  assertion/java/question2.java
  assertion/java/question3.java
  assertion/java/question4.java
  assertion/java/question5.java
  assertion/java/question6.java
Owners: none

test: repairing unit tests and business logic of funfact
  worker/file/file_test.go
  worker/funfact/attemps_test.go
  worker/funfact/attempts.go
  worker/funfact/deletion.go
  worker/funfact/deletion_test.go
  worker/funfact/funfact_test.go
  worker/funfact/wpm.go
  worker/funfact/wpm_test.go
  worker/main_test.go
Owners: none

test: fix outdated test
  frontend/src/tests/redux/questionSlice.test.ts
Owners: @elianiva

docs: devtools notice
  worker/README.md
Owners: none

docs: dummy
  dummy/Dockerfile
  dummy/README.md
  dummy/inserter.py
Owners: none

docs: matching with the feedback
  dummy/README.md
Owners: none

feat: projection
  worker/file/create_file.go
  worker/file/file.go
  worker/file/file_list.go
  worker/file/file_query.go
  worker/file/query_keystrokes.go
  worker/funfact/funfact.go
  worker/main.go
Owners: none

feat: projection
  worker/funfact/projection.go
Owners: none

feat: projeciton defer
  worker/funfact.go
Owners: none

refactor: bucket create file to exported data _mesarument
  worker/file/create_file.go
Owners: none

remove: arch warning
  dummy/README.md
Owners: none

doccs: donlot python
  dummy/README.md
Owners: none

docs: make people dumb to understand this
  dummy/Dockerfile
Owners: none

docs: make people dumb to understand this
  dummy/README.md
Owners: none

chore: tidy up stuffs with the help of pycharm
  dummy/generate.py
  dummy/inserter.py
  dummy/model_event.py
  dummy/model_user.py
Owners: none

docs: add schema
  SCHEMA.md
Owners: none

Here comes truck kun
  backend/tests/Spectator.RepositoryDALs.Tests/Properties/launchSettings.json
  frontend/src/components/CodingTest/Menu.tsx
  frontend/src/models/EditorSnapshot.ts
  frontend/src/models/EditorState.ts
  frontend/src/models/Language.ts
  frontend/src/models/Locale.ts
  frontend/src/models/PersonalInfo.ts
  frontend/src/models/Question.ts
  frontend/src/models/TestResult.ts
  frontend/src/models/Theme.ts
  frontend/src/pages/PersonalInfo.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/editorSlice.ts
  frontend/src/store/slices/editorSlice/index.ts
  frontend/src/store/slices/editorSlice/types.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/jwtSlice/index.ts
  frontend/src/store/slices/jwtSlice/types.ts
  frontend/src/store/slices/localeSlice.ts
  frontend/src/store/slices/personalInfoSlice.ts
  frontend/src/store/slices/personalInfoSlice/index.ts
  frontend/src/store/slices/personalInfoSlice/types.ts
  frontend/src/store/slices/questionSlice/index.ts
  frontend/src/store/slices/questionSlice/types.ts
  frontend/src/store/slices/sessionSlice.ts
  frontend/src/store/slices/sideBarSlice.ts
  frontend/src/store/slices/sideBarSlice/types.ts
  frontend/src/store/slices/themeSlice.ts
  frontend/src/store/slices/themeSlice/types.ts
  frontend/src/tests/redux/personalInfo.test.ts
Owners: @ronnygunawan, @elianiva

docs: add docs for frontend
  frontend/README.md
Owners: @elianiva

chore: minor adjustment to match pycharm's opinionated config
  dummy/model_event.py
  dummy/model_user.py
Owners: none

fix: based on feed bagk
  dummy/Dockerfile
  dummy/README.md
Owners: none

test: add more unit tests and repair for the funfact package
  worker/.gitignore
  worker/funfact/attemps_test.go
  worker/funfact/attempts_test.go
  worker/funfact/deletion.go
  worker/funfact/deletion_test.go
  worker/funfact/funfact.go
  worker/funfact/funfact_test.go
  worker/funfact/wpm.go
  worker/funfact/wpm_test.go
  worker/logger/logger.go
  worker/main_test.go
  worker/ping.go
Owners: none

fix: wrong bucket name to insert data on
  worker/funfact/funfact_test.go
Owners: none

chore: update github workflow
  .github/workflows/deploy.yml
  .github/workflows/pr_worker.yml
  .gitignore
Owners: none

docs: fix typo
  SCHEMA.md
Owners: none

docs(frontend): add more details
  frontend/README.md
Owners: @elianiva

docs(frontend): add slices to folder structure
  frontend/README.md
Owners: @elianiva

ci: correcting the authentication for minio
  .github/workflows/pr_worker.yml
Owners: none

ci: correcting path
  .github/workflows/pr_worker.yml
  worker/file/file_test.go
  worker/main_test.go
Owners: none

add(wip): query exam deadline sam test, todo keytag test
  worker/file/query_after_exam_sam.go
  worker/file/query_before_exam_sam.go
  worker/file/query_deadline_passed.go
  worker/file/query_exam_ended.go
  worker/file/query_exam_forteited.go
  worker/file/query_exam_ide_reloaded.go
  worker/file/query_exam_started.go
Owners: none

HELP
  frontend/src/App.tsx
  frontend/src/components/CodingTest/Editor.tsx
  frontend/src/hoc/CoercedRoute.tsx
  frontend/src/hoc/index.ts
  frontend/src/hoc/withFinal.tsx
  frontend/src/hoc/withProtected.tsx
  frontend/src/hoc/withPublic.tsx
  frontend/src/models/ExamResult.ts
  frontend/src/pages/CodingTest.tsx
  frontend/src/pages/FunFact.tsx
  frontend/src/pages/Instructions.tsx
  frontend/src/pages/PersonalInfoPage.tsx
  frontend/src/pages/SAMTest.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/examResultSlice.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/sessionSlice.ts
Owners: @elianiva

add: keytag
  worker/file/query_after_exam_sam.go
  worker/file/query_before_exam_sam.go
  worker/file/query_deadline_passed.go
  worker/file/query_exam_ended.go
  worker/file/query_exam_forteited.go
  worker/file/query_exam_ide_reloaded.go
Owners: none

test: new file query
  worker/file/query_before_exam_sam.go
  worker/file/query_deadline_passed.go
  worker/file/query_exam_ended.go
  worker/file/query_exam_forteited.go
  worker/file/query_exam_ide_reloaded.go
  worker/file/query_exam_started.go
Owners: none

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/frontend/ @elianiva 
/piston/ @aldy505
/logger/ @aldy505
/backend/ @ronnygunawan
/wranggler/ @artileda
/data/ @artileda
